#widget-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;

  .widget-panel {
    grid-gap: 20px;
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;

    .widget-placeholder {
      background-color: rgb(255, 255, 255, 0.8);
      width: auto;
      border-radius: 8px;
      box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 35%);
      padding: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .widget-header {
        margin: 0 0 0.75em 0;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: @admin-font-gray2;
      }

      .widget-contents {
        padding: 5px 10px;
        opacity: 0;
        overflow-x: hidden;
      }

      &.loaded .widget-contents {
        transition: opacity 2s;
        opacity: 1;
      }
    }
  }

}
  /*
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
   */

@media screen and (min-width: 481px) {
  #widget-container {
    .widget-panel {
      grid-template-columns: repeat(2, minmax(210px, 1fr));

      .widget-placeholder {
        &.small,
        &.medium {
          grid-column: span 1;
        }

        &.large,
        &.full {
          grid-column: span 2;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  #widget-container {
    padding: 30px;

    .widget-panel {
      grid-gap: 30px;
      grid-template-columns: repeat(3, minmax(220px, 1fr));

      .widget-placeholder {
        &.small {
          grid-column: span 1;
        }

        &.medium {
          grid-column: span 2;
        }

        &.large,
        &.full {
          grid-column: span 3;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  #widget-container {
    padding: 40px;

    .widget-panel {
      grid-gap: 40px;
      grid-template-columns: repeat(4, minmax(210px, 1fr));

      .widget-placeholder {
        &.small {
          grid-column: span 1;
        }

        &.medium {
          grid-column: span 2;
        }

        &.large {
          grid-column: span 3;
        }

        &.full {
          grid-column: span 4;
        }
      }
    }
  }
}
