#home-main-container {
  width: 100%;
  height: 100%;
  padding: 44px 10px 0 10px;
  box-sizing: border-box;
  overflow: auto;

  .widget-panel {
    width: 100%;
    height: calc(100vh - 44px);
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: minmax(100%, auto);
    grid-template-rows: repeat(2, minmax(50%, auto));
    grid-auto-flow: dense;

    .widget-placeholder {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      grid-column: span 1;
      padding: 10px;
      margin: 10px;

      .widget-contents {
        width: 100%;
        height: 100%;
        opacity: 0;
        overflow: auto;
        box-sizing: border-box;

        .widget-header {
          margin: 0 0 0.75em 0;
          font-size: 14px;
          font-weight: normal;
          letter-spacing: 1px;
        }
      }

      &.loaded {
        margin: 0;

        .widget-contents {
          transition: opacity 2s;
          opacity: 1;
        }
      }

      &.width-auto {
        width: fit-content;
      }

      &.height- {
        &auto {
          height: fit-content;
        }

        &small,
        &medium {
          grid-row: span 1;
        }

        &large,
        &full {
          grid-row: span 2;
        }
      }

      &:not(.style-custom) {
        opacity: 0.9;
        box-sizing: border-box;

        .widget-contents {
          padding: 10px;
          background-color: hsl(0, 0%, 100%);
          border-radius: 4px;
          -webkit-box-shadow: 1px 1px 5px 0 hsl(0deg 0% 0% / 20%), 0 5px 16px 0 hsl(0deg 0% 0% / 5%);
          box-shadow: 1px 1px 5px 0 hsl(0deg 0% 0% / 20%), 0 5px 16px 0 hsl(0deg 0% 0% / 5%);

          .widget-header {
            color: @admin-font-gray2;
          }
        }
      }
    }
  }
}

/*
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/

@media screen and (min-width: 481px) {
  #home-main-container {
    .widget-panel {
      grid-template-columns: repeat(2, minmax(50%, auto));

      .widget-placeholder {

        &.width- {
          &small,
          &medium {
            grid-column: span 1;
          }

          &large,
          &full {
            grid-column: span 2;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  #home-main-container {
    .widget-panel {
      grid-template-columns: repeat(3, minmax(33%, auto));

      .widget-placeholder {
        &.width- {
          &small {
            grid-column: span 1;
          }

          &medium {
            grid-column: span 2;
          }

          &large,
          &full {
            grid-column: span 3;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 481px) {
  #home-main-container {
    .widget-panel {
      grid-template-rows: repeat(3, minmax(33%, auto));

      .widget-placeholder {
        &.height- {
          &small {
            grid-row: span 1;
          }

          &medium {
            grid-row: span 2;
          }

          &large,
          &full {
            grid-row: span 3;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  #home-main-container {
    padding-left: 20px;
    padding-right: 20px;

    .widget-panel {
      grid-template-columns: repeat(4, minmax(25%, auto));

      .widget-placeholder {
        padding: 20px;
        margin: 20px;

        &.width- {
          &small {
            grid-column: span 1;
          }

          &medium {
            grid-column: span 2;
          }

          &large {
            grid-column: span 3;
          }

          &full {
            grid-column: span 4;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 769px) {
  #home-main-container {
    .widget-panel {
      grid-template-rows: repeat(4, minmax(25%, auto));

      .widget-placeholder {
        &.height- {
          &small {
            grid-row: span 1;
          }

          &medium {
            grid-row: span 2;
          }

          &large {
            grid-row: span 3;
          }

          &full {
            grid-row: span 4;
          }
        }
      }
    }
  }
}
