@import "~enonic-admin-artifacts";
@import "dialog-about";

#widget-shortcuts {
  display: inline-table;

  .widget-header {
    color: @admin-white;
  }

  .widget-shortcuts-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 360px;

    .widget-shortcuts-item {
      text-align: center;
      min-width: 25%;
      margin: 15px 8px;
      cursor: pointer;
      font-size: 13px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      img {
        width: 28px;
        height: 28px;
        filter: drop-shadow(0 0 1px hsl(0, 0%, 0%));
      }

      a {
        color: @admin-font-gray;
        text-decoration: none;

        div {
          color: @admin-font-gray;
          font-weight: 600;
          text-shadow: 0 0 1px @admin-black, 0 0 1px @admin-black, 0 0 1px @admin-black, 0 0 1px @admin-black;
        }
      }

      &:hover {
        a {
          opacity: 0.7;
        }
      }
    }
  }
}
