@import "~enonic-admin-artifacts";
@import "font";
@import "home/button";
@import "home/mask";
@import "home/modal-dialog";
@import "home/dialogs";
@import "home/progress-bar";
@import "home/notify";

.home-main-container {
  .home-main-container-mixin(1, top);

  #non-existing {
    background-image: url('../images/background.jpg');
  }

  .center-panel {
    color: @admin-white;
    padding: 50px;
    flex-wrap: wrap;

    a {
      color: #fff;
      text-decoration: none;
    }

    .dashboard-item {
      text-align: center;
      width: 70px;
      margin: 15px;
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      &:focus {
        outline: 2px solid black;
        border-radius: 3px;
      }

      img {
        width: 32px;
        height: 32px; // For IE
      }
    }

    &.theme-light .dashboard-item {
      img {
        filter: invert(1) sepia(1) saturate(5) hue-rotate(0deg);
        opacity: 0.7;
      }

      div,
      a {
        color: #555858;
      }

      &:hover {
        img {
          opacity: 1;
        }

        div,
        a {
          color: @admin-black;
        }
      }
    }

    &:not(.theme-light) .dashboard-item:hover {
      opacity: 0.7;
    }
  }
}

.heart {
  color: red;
  font-size: 1.2em;
  line-height: 1em;
  vertical-align: middle;
}

.load-mask {
  z-index: 2002;
}

.xp-tour-dialog + .body-mask,
.xp-about-dialog + .body-mask {
  background-color: @admin-black;
}

.notification-container {
  z-index: 2500;
}

html,
body {
  height: 100%;
}

.headers-mixin();

a {
  color: #0070de;
}

body {
  margin: 0;
  width: 100%;
  overflow: hidden;
  font-family: @admin-font-family;
  font-size: @admin-font-size;
}
