@import "~enonic-admin-artifacts";
@import "font";
@import "icons";
@import "home/button";
@import "home/mask";
@import "home/modal-dialog";
@import "home/progress-bar";
@import "home/notify";
@import "home/dashboard";
@import "home/appbar";

xp-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: @z-index-mask+3;
  background-color: rgb(61, 65, 66);

  &.transparent {
    background-color: transparent;
  }
}

.home-main-container {
  .home-main-container-mixin(1, bottom);
  opacity: 0;
  transition: opacity 0.3s;

  &.visible {
    opacity: 1;
  }
}

.load-mask {
  z-index: 2002;
}

.xp-about-dialog + .body-mask {
  background-color: @admin-black;
}

.notification-container {
  z-index: 2500;
}

html,
body {
  height: 100%;
}

.headers-mixin();

a {
  color: #0070de;

  &:hover {
    color: darken(#0070de, 25%);
  }
}

body {
  margin: 0;
  width: 100%;
  overflow: hidden;
  font-family: @admin-font-family;
  font-size: @admin-font-size;
  background-color: @admin-black;

  button.launcher-button {
    &:focus-visible,
    &:focus {
      outline-style: solid;
    }

    &:not(.toggled) {
      outline-color: @admin-white;
    }
  }
}
