@font-face {
  font-family: 'icomoon';
  src: url('../icons/fonts/icomoon.eot?d2dpl4');
  src:
    url('../icons/fonts/icomoon.eot?#iefixd2dpl4') format('embedded-opentype'),
    url('../icons/fonts/icomoon.woff?d2dpl4') format('woff'),
    url('../icons/fonts/icomoon.ttf?d2dpl4') format('truetype'),
    url('../icons/fonts/icomoon.svg?d2dpl4#icomoon-release') format('svg');
}

.icon {
  .icon-mixin('icomoon');
}

.icon-home {
  .icon;

  &::before {
    content: "\e999";
  }
}
